# Stack
.stack-work/
stack.yaml.lock
package-lock.json
package.json

# Cabal
dist-newstyle/

# Emacs Tags
TAGS

# Hakyll Cache
_cache/

# CV (latex files)
CV/*.aux
CV/*.log
CV/*.out

# My own junk
testing/